.nav-type {
  font-size: 14vmin;
  color: var(--nav_type_color);
  font-family: var(--font-b);
  text-transform: uppercase;
  letter-spacing: .75vmin;
  position: relative;
  transform-style: preserve-3d;
}

.nav-type:first-child {
  margin-top: 10rem;
}

.nav-type:last-child {
  margin-bottom: 10rem;
}

.nav-type:nth-of-type(1n) {
  transform-origin: 20rem 0;
  transform: translateZ(500px);
}

.nav-type:nth-of-type(2n) {
  transform-origin: 10rem -20rem;
  transform: translateZ(300px);
}

.nav-type:nth-of-type(3n) {
  transform-origin: -10rem 20rem;
  transform: translateZ(-300px);
}

.post-nav {
  transform: translateZ(0);
  perspective: 5000px;
  transform-style: preserve-3d;
  padding-left: 2%;
}

.content-article {
  z-index: 10;
}
.content-article * {
  color: var(--type_color)!important;
}
.content-inner {
  perspective: 5000px;
  transform-style: preserve-3d;
}
.project-title {
  position: sticky;
  top: 0;
}

.map-view {
  width: 100%!important;
  height: 100%!important;
}

@media (hover:hover) {
  .nav-type:hover {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: var(--nav_type_color);
    -webkit-text-stroke-width: .25vmin;
    -webkit-font-smoothing: antialiased;
  }
}