/* DEFAULTS */
:root { 
  --base-unit: 1.5rem;
  --pad-single: var(--base-unit);
  --pad-double: calc(var(--pad-single) * 2);
  --pad-big: calc(var(--pad-single) * 4);
  --pad-micro: calc(var(--pad-single)  / 3);
  --max-width-small: calc(var(--base-unit) * 40);
  --max-width-medium: calc(var(--base-unit) * 45);
  --max-width-large: calc(var(--base-unit) * 50);
  --max-width-xl: calc(var(--base-unit) * 70);
  --header-height: calc(var(--base-unit) * 3.25);
  --footer-height: calc(var(--base-unit) * 3.25);
}

/* TYPOGRAPHY */
:root { 
  --micro-size: calc(var(--base-unit) / 1.25);
  --sm-size: var(--base-unit);
  --reg-size: calc(var(--base-unit) * 1.65);
  --md-size: calc(var(--base-unit) * 1.5);
  --big-size: calc(var(--base-unit) * 2);
  --xl-size: calc(var(--base-unit) * 2.5);
  --xxl-size: calc(var(--base-unit) * 3);
  --h1: var(--xl-size);
  --h2: var(--xl-size);
  --h3: var(--big-size);
  --h4: var(--md-size);
  --h5: var(--reg-size);
  --h6: var(--sm-size);
  --micro: var(--sm-size);
  --p_sm: var(--sm-size);
  --p_med: var(--reg-size);
  --p_lg: var(--big-size);
  --font-a: 'neue-haas-grotesk-display', sans-serif;
  --font-b: 'franklin-gothic-compressed', sans-serif;
  --font-weight-a: 400;
  --font-weight-b: 600;
  --font-style-a: regular;
  --font-style-b: regular;
}

/*
@media (--md) {
  :root {}
}

@media (--lg) {
  :root {}
}
*/